
<footer class="footer">      
    <!-- Flyout menus -->
    <div class="text-center">

        <strong>Copyright &copy; <a href="https://comunidadedosaber.ao">Comunidade do Saber</a> - 2023 </strong>  
        
    </div>
</footer>
