<h1>Editing monograph</h1>

<%= render "form", monograph: @monograph %>

<br>

<div>
  <%= link_to "Show this monograph", @monograph %> |
  <%= link_to "Back to monographs", projects_monographs_path %>
</div>
