
<footer>      

    <div class="relative bg-white">
        <div class="mx-auto max-w-7xl px-8">
            
            <div class="grid grid-cols-2 gap-x-8 gap-y-10 py-16">
                <div hidden class="col-start-2 grid grid-cols-2 gap-x-8">
                
                </div>
                <div class="row-start-1 grid grid-cols-3 gap-x-8 gap-y-10 text-sm">
                    <div>
                        <p id="Clothing-heading" class="font-medium text-gray-900">Instituições</p>
                        <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">ISPB</a>
                            </li>
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">CS</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p id="Accessories-heading" class="font-medium text-gray-900">Área</p>
                        <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">Informática</a>
                            </li>
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">Eletrónica</a>
                            </li>
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">Telecomunicações</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p id="Brands-heading" class="font-medium text-gray-900">Ajuda</p>
                        <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">Manuais</a>
                            </li>
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">Tutorias</a>
                            </li>
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">Tutores</a>
                            </li>
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">coTutores</a>
                            </li>
                            <li class="flex">
                                <a href="#" class="hover:text-gray-800">Pesquisadores</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</footer>
