<h1>Editing projects_archive</h1>

<%= render "form", projects_archive: @projects_archive %>

<br>

<div>
  <%= link_to "Show this archive", @projects_archive %> |
  <%= link_to "Back to archives", projects_archives_path %>
</div>
